.todo-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px var(--border-color);
  padding: 8px var(--base-space);
  background-color: var(--task-bg-color);
  font-size: 15px;
}

.todo-list-item .task {
  flex: 1;
}

.todo-list-item i {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  font-size: 24px;
}

.todo-list-item i {
  border: solid 2px var(--primary-color);
  border-radius: 50%;
}

.todo-list-item .fa-check-circle {
  border: 0;
}

.todo-list .completed,
.todo-list .btn-delete-task,
.todo-list-item .fa-check-circle {
  color: var(--disabled-color);
}

.todo-list .completed p {
  text-decoration: line-through;
}

.todo-list .btn-delete-task {
  font-size: 24px;
  padding: 0;
}
